
<div class="container">
  <div class="span-6 colborder" id="add_sub"> 
	<hr>
	<form id="dummy" action="/subscribers" method="post">
      <fieldset class="span-5">
        <legend>Add Subscriber</legend>
        <p>
          <label for="callerid">Caller ID</label><br>
          <input type="text" class="title span-5" name="subscriber[callerid]" id="callerid" value="">
        </p>
		  <br><br>
          <input type="submit" value="Submit">
          <input type="reset" value="Reset">
        </p>
      </fieldset>
    </form>
  </div>
  <div class="span-6 colborder" id="redeem_coupon"> 
	<hr>
	<form id="dummy" action="/redeem" method="PUT">
      <fieldset class="span-5">
        <legend>Redeem Coupon</legend>
        <p>
          <label for="coupon_code">Coupon Code</label><br>
          <input type="text" class="title span-5" name="coupon_code" id="coupon_code" value="">
        </p>
		<br><br>
          <input type="submit" value="Submit">
          <input type="reset" value="Reset">
        </p>
      </fieldset>
    </form>
  </div>
</div>
<div class="container">
  <div class="span-13 colborder" id="broadcast_message"> 
	<hr>
	<form id="dummy" action="/notify" method="PUT">
      <fieldset class="span-12">
        <legend>Send Notification</legend>
 			<input type="text" class="text" id="msg" name="msg" value="Thanks for shopping with us!">          
          <input type="submit" value="Send">
          <input type="reset" value="Reset">
        </p>
      </fieldset>
    </form>
  </div>
</div>